nav {
    color: aqua;
    text-align: center;
    padding-top: 30px;
    font-weight: 300;
    font-size: 0vh 20vw;
}
a {
   
    font-style: normal;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20vh 30vw;
}
