*,html,body{
    margin: 0;
    padding: 0;
}

body {
    background-color: blanchedalmond;
}

.fcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

nav {
    display: flex;
    background-color: rgb(139, 96, 39);
    width: 100vw;
    height: 7vh;
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);

}

ul{
    display: flex;
    list-style-type: none;
    position: relative;
    left: 82vw;
}

ul>li{

    padding-top: 8px;
    padding-left: 20px;
    font-size: 20px;
}

ul>li>a{
    text-decoration: none;
    color: white;
    
}

.home {
    padding-top: 8px;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 20px;
    
}

.hobby {
    padding-top: 8px;
    padding-left: 29px;
    font-size: 20px;
}

.relax {
    padding-top: 8px;
    padding-left: 25px;
    font-size: 20px;
}